<p>
    <a asp-controller="Doctores" asp-action="Index">
       Back to List
    </a>
</p>

<form method="post">
    <label>Id</label>
    <input type="text" name="idDoctor" class="form-control"/>
    <label>Apellido</label>
    <input type="text" name="apellido" class="form-control" />
    <label>Especialidad</label>
    <input type="text" name="especialidad" class="form-control" />
    <label>Salario</label>
    <input type="text" name="salario" class="form-control" />
    <label>IdHospital</label>
    <input type="text" name="idHospital" class="form-control" />
    <button class="btn btn-primary">Crear</button>
</form>


